.imagen-productos{
    background-image: url("./imagenes/helados.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.parrafo{
  text-align: center; 
  font-size: 50px; 
  color: black;
}
.contenedor-productos{
    border: blue 10px solid;
    padding: 100px ;
    margin: 20px;

}
.sombra{
  border: 200px;
  padding: 200px 10px;
}.sombra2{
  padding: 0 auto;
  border: 100px;
}
.productos-carrusel{
  width: 50%;
  margin: 15px;
  padding: 20px;
  background-color: darkslategray;
  height: 40%;
 /* height: 60px;*/
}